body {
	margin: 0; 
	box-sizing: border-box;
	background-color: #E6E6E9;
}

/*
============================
Header
============================
*/

/*GEHELE HEADER*/ 
header > div {
	background-image: url(img/afdelingbeeld.nl-maaike-poelen-ns-publieksprijs-04-lr-1.jpg); 
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	height: 30em;
	width: 100%;
	box-shadow: 0.4em 0.06em 0.4em grey; 
}

/*NAV BALK*/
header > nav {
	background-color: #ffffff; 
	margin: 0; 
	height: 3.75em; 
	width: 100%; 
	position: fixed; 
	top: 0;
}

/*ELEMENTEN IN DE BALK*/
header > nav > ul {
	display: flex;
	align-items: center; /* li items in het midden */
	padding: 0 1.31em; 
}

header > nav > ul > li {
	list-style-type: none; /* geen bolletje voor li items */
}

header > nav > ul > li > a {
	text-decoration: none; /* geen link onder text */
	display: flex; 	/* text in een rij met afbeelding */ 
	align-items: center; /* in het midden zetten */ 
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	text-decoration: none;
	color: rgb(5, 51, 128); 
}

header > nav > ul > li:nth-of-type(2) {
	margin-right: auto; /* opschuiven naar de andere kant */
	padding-left: 0.5em; 
}

header > nav > ul > li:nth-of-type(4) {
	margin-left: 0.5em; 
}

header > nav > ul > li > a > img {
	width: 2em;
}

header li:nth-of-type(1) img {
	width: 3.2em; 
}

/*TEXT HEADER RESPONSIVE*/
header > nav > ul > li > a > div {
	display: none;
}
@media (min-width: 36em)  {
	header > nav > ul > li > a > div {
		display: block; 
	}
}

/*
============================
filter
============================
*/

main > form { 
	background-color: #FFC916; 
	margin: 0 0.44em; 
	position: relative; 
	top: -1.4em;
	box-shadow: inset 0 -0.15em #E0B200;
	border-radius: 0.3em;
}
@media (min-width: 36em)  {
	main > form {
		margin: 0 0.875em;
		height: 20em; 
		box-shadow: none; 
	}
}

main > form > fieldset:first-of-type { 
	border-style: none;
	padding: 0; 
}

.filters { 
	display: none;
} 
@media (min-width: 36em) {
	.filters {
	display: grid; 
	grid-template-columns: 2fr 1fr; 
	}
}
@media (min-width: 64em) {
	.filters {
	display: grid; 
	grid-template-columns: 3fr 1fr; 
	}
}

.buttonVerhalen { 
	display: none; 
}

main > form > fieldset > legend:first-of-type { 
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	text-align: center; 
	color: #053380;
	padding-bottom: 0.3em; 
	padding: 0.93em 0; 
} 



.filters > fieldset {
	border-style: none;
}

.filters > fieldset > legend {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	font-weight: bold;
	color: #053380;
}

.filters label {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	color: black; 
}

.filterCategorie label {
	display: flex; 
}
@media (min-width: 36em) {
	.filterCategorie {
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	}
}
@media (min-width: 64em) {
	.filterCategorie {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	}
}

.filterLengte label {
	display: flex; 
}






/*JAVASCRIPT*/

.toonFilterOpties {
	display: grid; 
	grid-template-columns: 1fr; 
} 




/*
============================
article 
============================
*/

/*GRID ALLE ARTIKELEN*/
section:first-of-type {
	display: grid; 
	grid-template-columns: 1fr; 
	margin: 0.44em; 
	grid-gap: 0.875em; 
} 

@media (min-width: 36em) {
	section:first-of-type {
		display: grid;
		grid-template-columns: 1fr 1fr; 
		margin: 0.875em;
		grid-gap: 1.75em; 
	}
}
@media (min-width: 64em) {
	section:first-of-type {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr; 
		grid-gap: 1.75em; 
	}
}
@media (min-width: 75em) {
	section:first-of-type {
		margin: 0.875em 2.5em; 
	}
}

/*LOS ARTIKEL*/
section > article {
	background-color: white; 
	box-shadow: inset 0 -0.15em #C5C5CB; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
}

/*afbeelding verhaal*/
main > section > article > div > img {	
	width: 100%;
 	height: 12em;  
	object-fit: cover; /*afbeelding schaalt mee, bron: inspector ns.nl*/
	}

h3 {
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.2em;
	font-weight: 400;
	color: #003082;
	margin-bottom: 0em; 
}
@media (min-width: 36em) {
	h3 {
		font-size: 1.4em;
	}
}

/*sterren*/
section > article > div > footer > img {
	height: 1em; 
	margin: 0; 
	padding: 0.3em 0; 
}

/*aantal stemmen*/
section > article > div > footer > p {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.7em;
	margin: 0; 
	padding-left: 0.3em; 
}
/*sterren en aantal samen*/ 
section > article > div > footer:first-of-type {
	display: flex; 
	align-items: center; 
}
/*samenvatting verhaal*/
section > article > div > p { 
	font-family: 'Open Sans', sans-serif;  
	font-size: 0.93em;
	max-height: 6em;  
	margin: 0; 
	padding: 1.25em 0; 
}
@media (min-width: 36em) {
	section > article > div > p {
	max-height: 9em; 
	}
}
@media (min-width: 64em) {
	section > article > div > p {
		max-height: 9em;
	}
}

/*lees meer button*/
section > article > div > footer > a:first-of-type {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	padding: 0.61em 1.1em;
	background-color: #0063D3; 
	text-decoration: none;
	border-radius: 0.3em; 
	color: white; 
	box-shadow: inset 0 -0.15em #004BA0; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
	margin-right: auto; 
}
section > article > div > footer > a:first-of-type:hover {
	background-color: #0a59b2; 
	}
section > article > div > footer > a:first-of-type:focus {
	background-color: #0a59b2;  
	}
section > article > div > footer > a:first-of-type:active {
	background-color: #094e9e;
	}
	
/*comment en plus*/
section > article > div > footer > a > img {
	width: 2.4em; 
}

/*lees meer + comment + plus*/
section > article > div > footer:nth-of-type(2) {
	display: flex; 
	align-items: center; 
}

main > section > article > div:nth-of-type(2) {
	padding: 0 1.5em 1.5em 1.5em; 
}

