body {
	margin: 0; 
	box-sizing: border-box;
	background-color: #E6E6E9;
}

/*
============================
Header
============================
*/

/* gehele header*/ 
header {
	background-image: url(img/afdelingbeeld.nl-maaike-poelen-ns-publieksprijs-04-lr-1.jpg); 
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	height: 30em;
	width: 100%;
	box-shadow: 0.4em 0.06em 0.4em grey; 
}

/*header balk*/
header > nav {
	background-color: #ffffff; 
	margin: 0; 
	height: 4em; 
	width: 100%; 
	position: fixed; 
}

/*in de balk*/
header > nav > ul {
	display: flex;
	align-items: center; /* li items in het midden */
	padding: 0em 1.5em; 
}

header > nav > ul > li {
	list-style-type: none; /* geen bolletje voor li items */
}

header > nav > ul > li > a {
	text-decoration: none; /* geen link onder text */
	display: flex; 	/* text in een rij met afbeelding */ 
	align-items: center; /* in het midden zetten */ 
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	text-decoration: none;
	color: rgb(5, 51, 128); 
}

header > nav > ul > li:nth-of-type(2) {
	margin-right: auto; /* opschuiven naar de andere kant */
	padding-left: 0.5em; 
}

header > nav > ul > li:nth-of-type(4) {
	margin-left: 0.5em; 
}

header > nav > ul > li > a > img {
	width: 2em;
}

header li:nth-of-type(1) img {
	width: 4em; 
}

/*tekst header laten verdwijnen*/
header > nav > ul > li > a > div {
	display: none;
}
@media (min-width: 36em)  {
	header > nav > ul > li > a > div {
		display: block; 
	}
}

/*
============================
Filter section
============================
*/

h1 {
	text-align: center; 
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
}

h2 {
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	background-color: aliceblue; 
}

.filters {
	display: none; 
}

/*
============================
Sorteren
============================
*/

section > form > fieldset {
	border: none; 
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	font-size: 0.8em; 
	padding-left: 1.5em; 
	padding-bottom: 0; 
}



/*
============================
filter
============================
*/

h1 {
	display: none; 
}

section > h2 {
	margin-left: 1.5em; 
	margin-right: 1.5em; 
	padding: 0.5em;
	font-size: 1.1em; 
	font-weight: 100; 
	text-align: center; 
	background-color: #EF9830; 
	color: white; 
	box-shadow: inset 0 -0.1em #DD8D2F;
	border-radius: 0.3em; 
}






/*
============================
article 
============================
*/

/*section alle artikelen */
section:nth-of-type(2) {
	display: grid; 
	grid-template-columns: 1fr; 
	margin: 1.5em; 
	grid-gap: 1.5em; 
}
@media (min-width: 34em) {
	section:nth-of-type(2) {
		display: grid;
		grid-template-columns: 1fr 1fr; 
		grid-gap: 1.5em; 
	}
}
@media (min-width: 64em) {
	section:nth-of-type(2) {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr; 
		grid-gap: 1.5em; 
	}
}

/*los artikel */
section > article {
	background-color: white; 
	box-shadow: inset 0 -0.1em darkgrey; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
}

/*
@media (min-width: 34em) {
	section > article:first-of-type {
		grid-column-start: 1;
		grid-column-end: 3; 
		display: grid; 
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 64em) {
	section > article:first-of-type {
		grid-column-start: 1;
		grid-column-end: 4; 
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr 1fr; /*in het artikel zelf
	}
}
*/

/*afbeelding verhaal*/
section > article > div > img {
	/*width: 100%; 	
	height: 15em; */
	max-width: 100%;
 	height: auto;
}

/*@media (min-width:36em) { 
	section > article:first-of-type > div > img:first-of-type {
		grid-column-start: 1; 
		grid-column-end: 4; 
		max-width: 100%;
 		height: auto;
	}
}
@media (min-width: 64em) {
	section > article > div > img:first-of-type {
		grid-column-start: 1; 
		grid-column-end: 4;
		max-width: 100%;
 		height: auto;
		 
	}
} 

*/


/*titel van het verhaal*/
h3 {
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	font-weight: normal; 
	font-size: 1.5em;
	margin-bottom: 0; 
	margin-top: 0.8em; 
}

/*sterren*/
section > article > div > footer > img {
	height: 1em; 
	padding: 0; 
}

/*aantal stemmen*/
section > article > div > footer > p {
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	font-size: 0.7em;  
}

/*sterren en aantal samen*/
section > article > div > footer:first-of-type {
	display: flex; 
	align-items: center; 
}

/*samenvatting verhaal*/
section > article > div > p { 
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	font-size: 1em;
}

/*lees meer button*/
section > article > div > footer > a:first-of-type {
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	font-size: 1em; 
	padding: 0.61em 1.1em;
	background-color: #EF9830; 
	text-decoration: none;
	border-radius: 0.3em; 
	color: white; 
	box-shadow: inset 0 -0.1em #DD8D2F; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
	margin-right: auto; 
}

/*comment en plus*/
section > article > div > footer > a > img {
	width: 2.4em; 
}

/*lees meer + comment + plus*/
section > article > div > footer:nth-of-type(2) {
	display: flex; 
	align-items: center; 
}

section > article > div:nth-of-type(2) {
	padding: 0 0.8em 0.8em 0.8em; 
}

/*test*/
header > nav > ul > li > a:nth-of-type(3) {
	display: none;  
}