body {
	margin: 0; 
	box-sizing: border-box;
	background-color: #E6E6E9;
}
/*
============================
Header
============================
*/

/*GEHELE HEADER*/ 
header {
	background-image: url(img/afdelingbeeld.nl-maaike-poelen-ns-publieksprijs-04-lr-1.jpg); 
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	height: 30em;
	width: 100%;
	box-shadow: 0.4em 0.06em 0.4em grey; 
}

/*NAV BALK*/
header > nav {
	background-color: #ffffff; 
	margin: 0; 
	height: 4em; 
	width: 100%; 
	position: fixed; 
	top: 0;
}

/*ELEMENTEN IN DE BALK*/
header > nav > ul {
	display: flex;
	align-items: center; /* li items in het midden */
	padding: 0em 1.5em; 
}

header > nav > ul > li {
	list-style-type: none; /* geen bolletje voor li items */
}

header > nav > ul > li > a {
	text-decoration: none; /* geen link onder text */
	display: flex; 	/* text in een rij met afbeelding */ 
	align-items: center; /* in het midden zetten */ 
	font-family: 'Open Sans', sans-serif; 
	text-decoration: none;
	color: rgb(5, 51, 128); 
}

header > nav > ul > li:nth-of-type(2) {
	margin-right: auto; /* opschuiven naar de andere kant */
	padding-left: 0.5em; 
}

header > nav > ul > li:nth-of-type(4) {
	margin-left: 0.5em; 
}

header > nav > ul > li > a > img {
	width: 2em;
}

header li:nth-of-type(1) img {
	width: 4em; 
}

/*TEXT HEADER RESPONSIVE*/
header > nav > ul > li > a > div {
	display: none;
}
@media (min-width: 36em)  {
	header > nav > ul > li > a > div {
		display: block; 
	}
}

/*
============================
filter
============================
*/

/*BUTTON FILTER MOBIEL*/
main > section:first-of-type { 
	width: calc(100% - 3em); /*https://stackoverflow.com/questions/17631611/100-width-minus-margin-and-padding*/
	position: relative; 
	top: -1.4em;
	left: 1.5em;
	border: none;
	background-color: #137BD0;
	box-shadow: inset 0 -0.15em #094E9E;/* bron inner shadow https://www.cssmatic.com/box-shadow */ 
	border-radius: 0.3em;
} 
h2 {
	color: white;
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em;
	text-align: center; 
	padding: 0.93em 0; 
}

.alleFilters {
	display: none;
}

.toonFilterMenu {/*javascript klik op filters*/
	display: block;
	background-color: white;
	margin: -3em 1.5em;
	padding: 1em 1em 0 1em;	
}

/*TITELS FILTERS*/
h3 { 
	grid-column-start: 1; 
	grid-column-end: 3; 
}
.filterCategorie {
	display: grid;
	grid-template-columns: 1fr 1fr; 
}

.filterCategorie > label {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
}

.filterLengte {
	display: grid;
	grid-template-columns: 1fr 1fr; 
}

.filterLengte > label {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
}

alleFilters > button {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	border: none; 
	background-color: #fec835; 
}




/*
============================
article 
============================
*/

/*GRID ALLE ARTIKELEN*/
section:nth-of-type(2) {
	display: grid; 
	grid-template-columns: 1fr; 
	margin: 1.5em; 
	grid-gap: 1.5em; 
}
@media (min-width: 36em) {
	section:nth-of-type(2) {
		display: grid;
		grid-template-columns: 1fr 1fr; 
		grid-gap: 1.5em; 
	}
}
@media (min-width: 64em) {
	section:nth-of-type(2) {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr; 
		grid-gap: 1.5em; 
	}
}

/*LOS ARTIKEL*/
section > article {
	background-color: white; 
	box-shadow: inset 0 -0.15em #C5C5CB; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
}

/*
@media (min-width: 34em) {
	section > article:first-of-type {
		grid-column-start: 1;
		grid-column-end: 3; 
		display: grid; 
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 64em) {
	section > article:first-of-type {
		grid-column-start: 1;
		grid-column-end: 4; 
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr 1fr; /*in het artikel zelf
	}
}
*/

/*afbeelding verhaal*/
main > section > article > div > img {	
	width: 100%;
 	height: 15em;   
}

/*@media (min-width:36em) { 
	section > article:first-of-type > div > img:first-of-type {
		grid-column-start: 1; 
		grid-column-end: 4; 
		max-width: 100%;
 		height: auto;
	}
}
@media (min-width: 64em) {
	section > article > div > img:first-of-type {
		grid-column-start: 1; 
		grid-column-end: 4;
		max-width: 100%;
 		height: auto;
		 
	}
} 

*/

h3 {
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.2em;
	margin-bottom: 0em; 
}
@media (min-width: 36em) {
	h3 {
		font-size: 1.4em;
	}
}

/*sterren*/
section > article > div > footer > img {
	height: 1em; 
}

/*aantal stemmen*/
section > article > div > footer > p {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.7em;  
}
/*sterren en aantal samen*/ 
section > article > div > footer:first-of-type {
	display: flex; 
	align-items: center; 
}
/*samenvatting verhaal*/
section > article > div > p { 
	font-family: 'Open Sans', sans-serif;  
	font-size: 0.93em;
	max-height: 6em;  
}
@media (min-width: 36em) {
	section > article > div > p {
	max-height: 9em; 
	}
}
@media (min-width: 64em) {
	section > article > div > p {
		max-height: 9em;
	}
}

/*lees meer button*/
section > article > div > footer > a:first-of-type {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	padding: 0.61em 1.1em;
	background-color: #EF9830; 
	text-decoration: none;
	border-radius: 0.3em; 
	color: white; 
	box-shadow: inset 0 -0.15em #DD8D2F; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
	margin-right: auto; 
}

/*comment en plus*/
section > article > div > footer > a > img {
	width: 2.4em; 
}

/*lees meer + comment + plus*/
section > article > div > footer:nth-of-type(2) {
	display: flex; 
	align-items: center; 
}

section > article > div:nth-of-type(2) {
	padding: 0 1.5em 1.5em 1.5em; 
}

