body {
	margin: 0; 
	box-sizing: border-box;
	background-color: #E6E6E9;
}

/*@media (min-width: 75em) {
	main {
		margin: 2.5em; 
	}
}*/
/*
============================
Header
============================
*/

/*GEHELE HEADER*/ 
header {
	background-image: url(img/afdelingbeeld.nl-maaike-poelen-ns-publieksprijs-04-lr-1.jpg); 
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	height: 30em;
	width: 100%;
	box-shadow: 0.4em 0.06em 0.4em grey; 
}

/*NAV BALK*/
header > nav {
	background-color: #ffffff; 
	margin: 0; 
	height: 3.75em; 
	width: 100%; 
	position: fixed; 
	top: 0;
}

/*ELEMENTEN IN DE BALK*/
header > nav > ul {
	display: flex;
	align-items: center; /* li items in het midden */
	padding: 0 1.31em; 
}

header > nav > ul > li {
	list-style-type: none; /* geen bolletje voor li items */
}

header > nav > ul > li > a {
	text-decoration: none; /* geen link onder text */
	display: flex; 	/* text in een rij met afbeelding */ 
	align-items: center; /* in het midden zetten */ 
	font-family: 'Open Sans', sans-serif; 
	text-decoration: none;
	color: rgb(5, 51, 128); 
}

header > nav > ul > li:nth-of-type(2) {
	margin-right: auto; /* opschuiven naar de andere kant */
	padding-left: 0.5em; 
}

header > nav > ul > li:nth-of-type(4) {
	margin-left: 0.5em; 
}

header > nav > ul > li > a > img {
	width: 2em;
}

header li:nth-of-type(1) img {
	width: 3.2em; 
}

/*TEXT HEADER RESPONSIVE*/
header > nav > ul > li > a > div {
	display: none;
}
@media (min-width: 36em)  {
	header > nav > ul > li > a > div {
		display: block; 
	}
}

/*
============================
filter
============================
*/


main > form {
	background-color: #137BD0;; 
	margin: 0 1.5em; 
	position: relative; 
	top: -1.4em;
	box-shadow: inset 0 -0.15em #094E9E;
	border-radius: 0.3em;
}


main > form > fieldset:first-of-type {
	border-style: none;
	padding: 0; 
}

.filterCategorie {
	display: none;
	border-style: none; 
}

.filterLengte {
	display: none; 
	border-style: none; 
}

main > form > fieldset > legend:first-of-type {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	text-align: center; 
	color: white;
	padding-bottom: 0.3em; 
	padding: 0.93em 0; 
}

legend {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
}

.toonFilterCat {
	display: block; 
}

.toonFilterLeng {
	display: block; 
}

label {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	padding-right: 1.5em;
}

form > fieldset > div {
	display: flex; 
	flex-direction: column; 
	flex-wrap: wrap; 
}

form > fieldset > div > label {
	flex: 1 100%; 
}

/*

.filterCategorie > label > input {
	border-style: none; 
}


@media (min-width: 36em) {
	main > form > fieldset > legend:first-of-type {
		font-size: 1.2em; 
		text-align: left;
	}
	.filterCategorie {
		display: block; 
		grid-column-start: 1;
		grid-column-end: 4; 
	}
	.filterLengte {
		display: block; 
	}
	main > form > fieldset > div {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr 1fr; 
}
	main > form > fieldset > div > fieldset > label {
		padding-right: 1em; 
	}*/
/*
============================
article 
============================
*/

/*GRID ALLE ARTIKELEN*/
section:first-of-type {
	display: grid; 
	grid-template-columns: 1fr; 
	margin: 0.44em; 
	grid-gap: 0.875em; 
}
@media (min-width: 36em) {
	section:first-of-type {
		display: grid;
		grid-template-columns: 1fr 1fr; 
		margin: 0.875em;
		grid-gap: 1.75em; 
	}
}
@media (min-width: 64em) {
	section:first-of-type {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr; 
		grid-gap: 1.75em; 
	}
}
@media (min-width: 75em) {
	section:first-of-type {
		margin: 0.875em 2.5em; 
	}
}

/*LOS ARTIKEL*/
section > article {
	background-color: white; 
	box-shadow: inset 0 -0.15em #C5C5CB; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
}



/*afbeelding verhaal*/
main > section > article > div > img {	
	width: 100%;
 	height: 12em;  
	object-fit: cover; /*afbeelding schaalt mee, bron: inspector ns.nl*/
	}

h3 {
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.2em;
	font-weight: 400;
	color: #003082;
	margin-bottom: 0em; 
}
@media (min-width: 36em) {
	h3 {
		font-size: 1.4em;
	}
}

/*sterren*/
section > article > div > footer > img {
	height: 1em; 
	margin: 0; 
	padding: 0.3em 0; 
}

/*aantal stemmen*/
section > article > div > footer > p {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.7em;
	margin: 0; 
	padding-left: 0.3em; 
}
/*sterren en aantal samen*/ 
section > article > div > footer:first-of-type {
	display: flex; 
	align-items: center; 
}
/*samenvatting verhaal*/
section > article > div > p { 
	font-family: 'Open Sans', sans-serif;  
	font-size: 0.93em;
	max-height: 6em;  
	margin: 0; 
	padding: 1.25em 0; 
}
@media (min-width: 36em) {
	section > article > div > p {
	max-height: 9em; 
	}
}
@media (min-width: 64em) {
	section > article > div > p {
		max-height: 9em;
	}
}

/*lees meer button*/
section > article > div > footer > a:first-of-type {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	padding: 0.61em 1.1em;
	background-color: #EF9830; 
	text-decoration: none;
	border-radius: 0.3em; 
	color: white; 
	box-shadow: inset 0 -0.15em #DD8D2F; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
	margin-right: auto; 
}

/*comment en plus*/
section > article > div > footer > a > img {
	width: 2.4em; 
}

/*lees meer + comment + plus*/
section > article > div > footer:nth-of-type(2) {
	display: flex; 
	align-items: center; 
}

main > section > article > div:nth-of-type(2) {
	padding: 0 1.5em 1.5em 1.5em; 
}

