
body {
	margin: 0; 
	box-sizing: border-box;
	background-color: beige;
}

header {
	background-image: url(img/afdelingbeeld.nl-maaike-poelen-ns-publieksprijs-04-lr-1.jpg); 
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	height: 30em;
	width: 100%;
	box-shadow: 0.4em 0.06em 0.4em grey;
}

header nav {
	background-color: #ffffff; 
	margin: 0; 
	height: 4em; 
	width: 100%; 
	position: fixed; 
}

header ul {
	display: flex;
	align-items: center; /* li items in het midden */
	padding: 0em 2em; 
}

header li {
	list-style-type: none; /* geen bolletje voor li items */
}

header a {
	text-decoration: none; /* geen link onder text */
	display: flex; 	/* text in een rij met afbeelding */ 
	align-items: center; /* in het midden zetten */ 
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	text-decoration: none;
	color: rgb(5, 51, 128); 
}

header li:nth-of-type(2) {
	margin-right: auto; /* opschuiven naar de andere kant */
	padding-left: 0.5em; 
}

header li:nth-of-type(4) {
	margin-left: 0.5em; 
}

header img {
	width: 2em;
}

header li:nth-of-type(1) img {
	width: 4em; 
}

