body {
	margin: 0; 
	box-sizing: border-box;
	background-color: #E6E6E9;
}

/*
============================
Header
============================
*/

/* gehele header*/ 
header {
	background-image: url(img/afdelingbeeld.nl-maaike-poelen-ns-publieksprijs-04-lr-1.jpg); 
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	height: 30em;
	width: 100%;
	box-shadow: 0.4em 0.06em 0.4em grey; 
}

/*header balk*/
header nav {
	background-color: #ffffff; 
	margin: 0; 
	height: 4em; 
	width: 100%; 
	position: fixed; 
}

/*in de balk*/
header ul {
	display: flex;
	align-items: center; /* li items in het midden */
	padding: 0em 2em; 
}

header li {
	list-style-type: none; /* geen bolletje voor li items */
}

header a {
	text-decoration: none; /* geen link onder text */
	display: flex; 	/* text in een rij met afbeelding */ 
	align-items: center; /* in het midden zetten */ 
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	text-decoration: none;
	color: rgb(5, 51, 128); 
}

header li:nth-of-type(2) {
	margin-right: auto; /* opschuiven naar de andere kant */
	padding-left: 0.5em; 
}

header li:nth-of-type(4) {
	margin-left: 0.5em; 
}

header img {
	width: 2em;
}

header li:nth-of-type(1) img {
	width: 4em; 
}

/*
============================
Filter section
============================
*/

h1 {
	text-align: center; 
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
}

h2 {
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	background-color: aliceblue; 
}

/*
============================
article 
============================
*/

section:nth-of-type(2) {
	display: grid; 
	grid-gap: 1.5em; 
	margin: 1.5em; 
}

/*het gehele artikel */
section > article {
	background-color: white; 
	padding-bottom: 1em; 
	box-shadow: inset 0 -0.15em #D8D8D8; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
}

/*grid artikelen media */
@media (min-width: 36em) {
	section:nth-of-type(2) {
		display: grid; 
		grid-template-columns: 1fr 1fr; 
		margin: 2em; 
	}
}
@media (min-width: 64em) {
	section:nth-of-type(2) {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr; 	
	}
}

/*de afbeelding van het verhaal*/
section > article > img:first-of-type { 
	width: 100%;
	height: 15em;
}

/*titel van het verhaal*/
h3 { 
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	font-weight: normal; 
	font-size: 1.5em;
	margin: 0.5em 0.8em 0 0.8em; 
}

/*ranking+aantal*/
section > article > footer:first-of-type { 
	display: flex; 
	align-items: center;
}

/*ranking verhaal*/
section > article > footer > img { 
	height: 1em; 
	margin-left: 0.8em; 
}

/*ranking tekst*/
article > footer > p { 
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	font-size: 0.7em;  
	margin-left: 0.5em;
}

/*samenvatting verhaal*/
article > p { 
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	font-size: 1em;
	margin: 1em 1em 1.4em 1em; 	
}

/*lees meer + add + comment */
article > footer:nth-of-type(2) {
	display: flex; 
	align-items: center; 
}

article > footer > a {
	margin-left: 0.8em; 
	margin-right: 0.8em;
}

/*comment*/
article > footer > a:nth-of-type(2) {
	margin-right: 0; 
}

/* lees meer button */
article > footer > a:first-of-type { 
	margin-right: auto; /* opschuiven naar de andere kant */
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	font-size: 1em; 
	padding: 0.61em 1.1em;
	background-color: #EF9830; 
	text-decoration: none;
	border-radius: 0.3em; 
	color: white; 
	box-shadow: inset 0 -0.1em #DD8D2F /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
}

/*comment en toevoegen*/
article > footer > a > img { 
	width: 2.4em; 
}

@media (min-width: 36em) {
	section > article:first-of-type {
		grid-column-start: 1;
		grid-column-end: 3; 
	}
}
@media (min-width: 64em) {
	section > article:first-of-type {
		grid-column-start: 1; 
		grid-column-end: 4; 
	}
}