body {
	margin: 0; 
	box-sizing: border-box;
	background-color: #E6E6E9;
}
/*
============================
Header
============================
*/

/*GEHELE HEADER*/ 
header > div {
	background-image: url(img/afdelingbeeld.nl-maaike-poelen-ns-publieksprijs-04-lr-1.jpg); 
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	height: 30em;
	width: 100%;
	box-shadow: 0.4em 0.06em 0.4em grey; 
}

/*GEHELE NAVIGATIEBALK*/
header > nav {
	background-color: #ffffff; 
	margin: 0; 
	height: 3.75em; 
	width: 100%; 
	position: fixed; 
	top: 0;
	z-index: 1; /*Deze laag staat bovenaan, zodat de 'relative' elementen er niet overheen gaan. Bron: https://www.sitepoint.com/atoz-css-z-index/*/
}

/*ELEMENTEN IN DE NAVIGATIEBLAK*/
header > nav > ul {
	display: flex;
	align-items: center; /* li items in het midden */
	padding: 0;
}

header > nav > ul > li {
	list-style-type: none; /* geen bolletje voor li items */
}

/*ELEMENTEN LOS*/
header > nav > ul > li > a {
	text-decoration: none; /* geen link onder text */
	display: flex; 	/* text in een rij met afbeelding */ 
	align-items: center; /* in het midden zetten */ 
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	color: #053380;  
}

header > nav > ul > li > a:hover {
	color: #0063D3;
	transition: .6s ease-in; 
}

header > nav > ul > li > a:focus {
	color: #0063D3;
	padding-right: 0.2em; 
	transition: .3s ease-in; 
}

header > nav > ul > li > a:active {
	color: #094e9e;
	transition: .6s ease-in; 
}

header > nav > ul > li:first-of-type a:focus {
	padding-left: 0.1em; 
}
	
header > nav > ul > li:first-of-type {
	padding-left: 1.3em;
	margin-right: auto; /* opschuiven naar de andere kant */
}

header > nav > ul > li:first-of-type:hover {
	padding-left: 1.2em; 
}

header > nav > ul > li:nth-of-type(2):hover{
	margin-right: 0.1em; 
}

header > nav > ul > li:nth-of-type(3) {
	margin-left: 0.5em; 
	padding-right: 1.3em;
}
header > nav > ul > li:nth-of-type(3):hover {
	padding-right: 1.4em; 
	margin-left: 0.4em;
}

header > nav > ul > li > a > img {
	width: 2em;
}

header li:first-of-type img {
	width: 3.2em; 
	padding-right: 0.5em; 
}

/*TEXT HEADER RESPONSIVE*/
header > nav > ul > li > a > div {
	display: none;
}
@media (min-width: 36em)  {
	header > nav > ul > li > a > div {
		display: block; 
	}
}

/*
============================
filter
============================
*/

main > form { 
	background-color: #FFC916; 
	margin: 0 0.44em; 
	position: relative; 
	top: -1.4em;
	box-shadow: inset 0 -0.15em #E0B200;
	border-radius: 0.3em;
}
@media (min-width: 36em)  {
	main > form {
		margin: 0 0.875em;
		max-height: 25em; 
		box-shadow: none; 
		padding: 1.5em; 
		top: -8.5em
	}
}
@media (min-width: 64em) {
	main > form {
		top: -7.3em; 
	}
}
@media (min-width: 75em) {
	main > form {
	    margin: 0 2.5em 0.875em 2.5em; 
		top: -7.3em; 
	}
}

main > form > fieldset:first-of-type { 
	border-style: none;
	padding: 0;	
}

.filters fieldset:nth-of-type(2) {
	margin-top: 1em; 
}
@media (min-width: 36em) {
	.filters fieldset:nth-of-type(2) {
		margin-top: 0; 
	}
}

.filters { 
	display: none;
	margin: 0 1.5em; /*dit eventueel nog veranderen*/
} 
@media (min-width: 36em) {
	.filters {
	display: grid; 
	grid-template-columns: 2fr 1fr; 
	margin: 1em 0 0 0; 
	}
}
@media (min-width: 64em) {
	.filters {
	display: grid; 
	grid-template-columns: 3fr 1fr; 
	}
}

main > form > fieldset > legend:first-of-type { 
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	text-align: center; 
	color: #053380;
	padding: 0.93em 0; 
} 
main > form > fieldset > legend:first-of-type:hover {
	color:#0063D3;
	cursor: pointer;
}
@media (min-width: 36em) {
	main > form > fieldset > legend:first-of-type {
		text-align: left; 
		font-size: 2em;
		padding: 0;
	}
}

.filters > fieldset {
	border-style: none;
	margin: 0;  
	padding: 0; 
}

.filters > fieldset > legend {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	font-weight: 700;
	color: #053380;
	padding: 0.625em 0; 
}

.filters label {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	color: black; 
	padding: 0.312em 0;
}

.filters input {
	margin-right: 1.25em; 
	opacity: 0; 
}

.filterCategorie label {
	display: flex; 
}
@media (min-width: 36em) {
	.filterCategorie {
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	}
}
@media (min-width: 64em) {
	.filterCategorie {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	}
}

.filterLengte label {
	display: flex; 
}

/*button filter zoeken*/
.buttonVerhalen {
	background-color: #0063D3;
	color: white;
	border: none;
	border-radius: 0.3em;
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	padding: 0.61em 1.1em;
	margin: 1.5em 0;
	box-shadow: inset 0 -0.15em #004BA0; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
	display: block; 
}
@media (min-width: 36em) {
	.buttonVerhalen {
		width: 9em; 
		padding: 0.61em 1.1em;
		margin-bottom: 0; 
	}
}
.buttonVerhalen:hover {
	background-color: #0a59b2; 
	transition: 0.6s ease-out; 
	position: relative; 
	transform: translateZ(0);
	}
.buttonVerhalen:before {
	content: "";
    position: absolute; /*zodat het uit beeld komt*/
    z-index: -1; /*zorgt ervoor dat hij erachter ligt*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0); /*hier is de y kleiner*/
	transform-origin: bottom;/*gaat tot 100% in de verticale positie https://tympanus.net/codrops/css_reference/transform-origin/*/
	border-radius: 0.3em;
	background-color: #0a59b2;
	transition-property: transform;
}
.buttonVerhalen:hover:before {
	 transform: scaleY(1); /*zorgt ervoor dat de Y groter wordt https://www.w3schools.com/cssref/css3_pr_transform.asp*/
	 transition: .2s ease-in-out;
}
.buttonVerhalen:focus {
	background-color: #0a59b2;  
	transition: 0.6s ease-out; 
	}
.buttonVerhalen:active {
	background-color: #094e9e;
	transition: 0.6s ease-out; 
	}

.filters { 
position: relative;
}

.filters label {
	cursor: pointer;
}

/*bron: https://medium.com/mobile-app-developers/styling-checkbox-css-tips-e103c54ea1c7 */
/*checkbox custom*/
.checkboxCustom {
	position: absolute; 
	height: 1.25em; 
	width: 1.25em; 
	background-color: white; 
	border-radius: 0.1em;
	cursor: pointer;
	content: "";
}

.checkboxCustom:hover {
	border: 0.1em solid #0063D3;
}
.checkboxCustom:focus {
	border: 0.1em solid #0063D3;
}
/*bron: https://medium.com/mobile-app-developers/styling-checkbox-css-tips-e103c54ea1c7 */
.filters input:checked ~ .checkboxCustom {
	background-image: url(img/vinkje2-01.svg);
	background-repeat: no-repeat; 
	background-position: center;
}


/*JAVASCRIPT*/
.toonFilterOpties {
	display: grid; 
	grid-template-columns: 1fr; 
} 
@media (min-width: 36em) {
	.toonFiltersOpties {
		display: none; 
	}
}

/*
============================
article 
============================
*/

h1 { 
	margin: 0;
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.4em;
	font-weight: 500;
	display: grid; 
	grid-column-start: 1; 
	grid-column-end: 2; 
}
@media (min-width: 36em) {
	h1 {
		grid-column-end: 3; 
		margin-bottom: -0.8em;
	}
}
@media(min-width: 64em) {
	h1 {
		grid-column-end: 4; 
		margin-bottom: -0.8em;
	}
}


/*GRID ALLE ARTIKELEN*/
section:first-of-type {
	display: grid; 
	grid-template-columns: 1fr; 
	margin: 0.44em; 
	grid-gap: 0.875em; 
} 

@media (min-width: 36em) {
	section:first-of-type {
		display: grid;
		grid-template-columns: 1fr 1fr; 
		margin: -7.5em 0.875em 0.875em 0.875em;
		grid-gap: 1.75em; 
	}
}
@media (min-width: 64em) {
	section:first-of-type {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr; 
		grid-gap: 1.75em; 
		margin: -6.3em 0.875em 0.875em 0.875em;
	}
}
@media (min-width: 75em) {
	section:first-of-type {
		margin: -6.3em 2.5em 2.5em 2.5em; 
	}
}

/*LOS ARTIKEL*/
section > article {
	background-color: white; 
	box-shadow: inset 0 -0.15em #C5C5CB; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
}

/*afbeelding verhaal*/
main > section > article > div > a > img {	
	width: 100%;
 	height: 12em;  
	object-fit: cover; /*afbeelding schaalt mee, bron: inspector ns.nl*/
	}

h2 {
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.2em;
	font-weight: 400;
	color: #003082;
	margin-bottom: 0em; 
}
@media (min-width: 36em) {
	h2 {
		font-size: 1.4em;
	}
}

/*sterren*/
section > article > div > footer > img {
	height: 1em; 
	margin: 0; 
	padding: 0.3em 0; 
}

/*aantal stemmen*/
section > article > div > footer > p {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.7em;
	margin: 0; 
	padding-left: 0.3em; 
}
/*sterren en aantal samen*/ 
section > article > div > footer:first-of-type {
	display: flex; 
	align-items: center; 
}
/*samenvatting verhaal*/
section > article > div > p { 
	font-family: 'Open Sans', sans-serif;  
	font-size: 0.93em;
	max-height: 7em;  
	margin: 0; 
	padding: 1.25em 0; 
}
@media (min-width: 36em) {
	section > article > div > p {
	max-height: 11em; 
	}
}
@media (min-width: 64em) {
	section > article > div > p {
		max-height: 9em;
	}
}

/*lees meer button*/
section > article > div > footer > a:first-of-type {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	padding: 0.61em 1.1em;
	background-color: #0063D3; 
	text-decoration: none;
	border-radius: 0.3em; 
	color: white; 
	box-shadow: inset 0 -0.15em #004BA0; /* bron inner shadow https://www.cssmatic.com/box-shadow */ 
	margin-right: auto; 
}
section > article > div > footer > a:first-of-type:hover {
	background-color: #0a59b2; 
	transition: 0.4s ease-out; 
	}
section > article > div > footer > a:first-of-type:focus {
	background-color: #0a59b2;  
	transition: 0.4s ease-out; 
	}
section > article > div > footer > a:first-of-type:active {
	background-color: #094e9e;
	transition: 0.4s ease-out; 
	}
	
/*comment en plus*/
section > article > div > footer > a > img {
	width: 2.4em; 
}

/*lees meer + comment + plus*/
section > article > div > footer:nth-of-type(2) {
	display: flex; 
	align-items: center; 
}

main > section > article > div:nth-of-type(2) {
	padding: 0 1.5em 1.5em 1.5em; 
}

/*bron: https://css-tricks.com/change-color-of-svg-on-hover/*/

/*SVG*/
svg {
	width: 2.5em; 
}

svg:hover path {
	fill: #0063D3; 
	transition: 0.6s ease-out; 
}

a:focus svg path {
	fill: #0a59b2;
	transition: .3s ease-out; 
}

a:active svg path {
	fill: #094e9e;
	transition: .6s ease-out; 
}

