body {
	margin: 0;   
	box-sizing: border-box;
	background-color: #E6E6E9;
}

/*
============================
Header
============================
*/

/*NAV BALK*/
header > nav {
	background-color: #ffffff; 
	margin: 0; 
	height: 3.75em; 
	width: 100%; 
	position: fixed; 
	top: 0;
}

/*ELEMENTEN IN DE BALK*/
header > nav > ul {
	display: flex;
	align-items: center; /* li items in het midden */
	padding: 0 1.31em; 
}

header > nav > ul > li {
	list-style-type: none; /* geen bolletje voor li items */
}

header > nav > ul > li > a {
	text-decoration: none; /* geen link onder text */
	display: flex; 	/* text in een rij met afbeelding */ 
	align-items: center; /* in het midden zetten */ 
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	text-decoration: none;
	color: rgb(5, 51, 128); 
}

header > nav > ul > li:nth-of-type(2) {
	margin-right: auto; /* opschuiven naar de andere kant */
	padding-left: 0.5em; 
}

header > nav > ul > li:nth-of-type(4) {
	margin-left: 0.5em; 
}

header > nav > ul > li > a > img {
	width: 2em;
}

header li:nth-of-type(1) img {
	width: 3.2em; 
}

/*tekst header laten verdwijnen*/
header > nav > ul > li > a > div {
	display: none;
}
@media (min-width: 36em)  {
	header > nav > ul > li > a > div {
		display: block; 
	}
}

/*
============================
INLOGGEN
============================
*/

main {
	margin: 5.5em 1.5em 1.5em 1.5em; /*wordt om een of andere manier naar boven gedrukt*/
	background-color: white; 
	padding: 1em 1em 2em 1em; 
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7em;
	color: #053380; 
	text-align: center;  
}
@media (min-width:36em) {
	h1 {
		font-size: 2.2em; 
	}
}

/*gele form*/
form {
	background-color: #FEC835; 
}

form > fieldset {
	border-style: none; 
	padding: 0; 
	display: grid; 
	grid-template-columns: 1fr; 
}

/*titel inloggen*/
form > fieldset > legend {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	margin: 1em;
	padding-top: 1em;
}
@media (min-width:36em) {
	form > fieldset > legend {
		font-size: 1.4em; 
	}
}
	
form > fieldset > label {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.93em;
	padding: 0 1em 1em 1em; 
}

form > fieldset > label > input {
	display: grid; 
	height: 2.8em; 
	width: calc(100% - 1.8em); /* wil niet de gehele 100% pakken, dus daarom dit https://stackoverflow.com/questions/17631611/100-width-minus-margin-and-padding*/ 
	margin: 0.3em 0; 
	padding: 0.6em 0.9em 0.6em 0.9em;
	border-style: none; 
	line-height: 1.5em;
}
@media (min-width:36em) {
	form > fieldset > label > input {
		width: 100%; 
		margin-left: 1em;
	}
	#emailadres {
		margin-left: 2em; 
	}
}
form > fieldset > label > input:focus {
	border: solid 0.3em #137BD0;
}
form > fieldset > label > input:valid {
	border: solid 0.3em green;
}


/*wachtwoord vergeten button*/
form > fieldset > button {
	border-style: none; 
	background-color: transparent; 
	border-bottom: 0.15em solid rgba(7,7,33,0.1) ; /*rgba vanwege opacity*/
	font-size: 0.93em;
		font-family: 'Open Sans', sans-serif; 
	color: #053380;
	margin: 1em; 
	padding: 0 0 1em 0; 
	border-radius: none;
}
form > fieldset > button:hover {
	border-bottom: 0.15em solid #137bd0; 
}
form > fieldset > button:focus {
	border-bottom: 0.15em solid #137bd0; 
}
form > fieldset > button:active {
	border-bottom: 0.15em solid #053380; 
}
/*login button*/
form > fieldset > a {
	width: 3em;
	margin: 1em;
	padding: 0.61em 1.1em;
	border: none;
	text-decoration: none; 
	background-color: #137bd0;
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	color: white;
	border-radius: 0.3em; 
	box-shadow: inset 0 -0.15em #094e9e; /* bron inner shadow https://www.cssmatic.com/box-shadow */
	transition: box-shadow .15s ease-in-out;
}
form > fieldset > a:hover {
	background-color: #0a59b2; 
}
form > fieldset > a:focus {
	background-color: #0a59b2; 
}
form > fieldset > a:active {
	background-color: #094e9e;
}
/*
============================
ACCOUNT MAKEN
============================
*/

h2 {
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.2em; 
	padding: 0 1em;
}
@media (min-width:64em) {
	h2 {
		padding: 0 1.5em; 
		font-size: 1.4em;
	}
}

section > ul {
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	list-style-type: none;  
	padding: 0 1em;
}
@media (min-width:64em) {
	section > ul {
		padding: 0 2em;
	}
}
section > ul > li {
	background-image: url(img/vinkje4-01-01.svg);/*https://stackoverflow.com/questions/7775594/css-list-style-image-size ik heb het geprobeerd met list-style-image, maar die werd te klein */
	background-position: left; 
	background-repeat: no-repeat;
	height: 1em; 
	padding: 0.3em 0 0.3em 2.5em; 	 
}
@media (min-width:64em) {
	section > ul > li {
		margin: 1.5em; 
	}
}

.accountAanmaken a {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.93em; 
	text-decoration: none;
	background-color: transparent; 
	border-bottom: 0.15em solid rgba(7,7,33,0.1) ; /*rgba vanwege opacity*/
	color: #053380; 
	margin: 1em; 
	padding: 0 0 1em 0; 
	border-radius: none;
}
.accountAanmaken a:hover {
	border-bottom: 0.15em solid #137Bd0
}
.accountAanmaken a:focus {
	border-bottom: 0.15em solid #137Bd0
}
.accountAanmaken a:active {
	border-bottom: 0.15em solid #053380; 
}
@media (min-width:64em) {
	section > section > a {
		padding: 2em
	}
}

/*GRID*/
@media (min-width:36em) {
	form > fieldset > label {
		display: flex; 
	}
}
@media (min-width:64em) {
	main > section {
		display: grid; 
		grid-template-columns: 1fr 1fr; 
	}
	main > section > form {
		grid-column-start: 1; 
		grid-column-end: 2; 
	}
}