body {
	margin: 0;   
	box-sizing: border-box;
	background-color: #E6E6E9;
}

/*
============================
Header
============================
*/

/*header balk*/
header > nav {
	background-color: #ffffff; 
	padding-top: 0;
	margin: 0;  
	height: 4em; 
	width: 100%; 
	position: fixed; 
}

/*in de balk*/
header > nav > ul {
	display: flex;
	align-items: center; /* li items in het midden */
	padding: 0em 1.5em; 
}

header > nav > ul > li {
	list-style-type: none; /* geen bolletje voor li items */
}

header > nav > ul > li > a {
	text-decoration: none; /* geen link onder text */
	display: flex; 	/* text in een rij met afbeelding */ 
	align-items: center; /* in het midden zetten */ 
	font-family: NS Sans,Segoe UI,Myriad,Verdana,sans-serif; 
	text-decoration: none;
	color: rgb(5, 51, 128); 
}

header > nav > ul > li:nth-of-type(2) {
	margin-right: auto; /* opschuiven naar de andere kant */
	padding-left: 0.5em; 
}

header > nav > ul > li:nth-of-type(4) {
	margin-left: 0.5em; 
}

header > nav > ul > li > a > img {
	width: 2em;
}

header li:nth-of-type(1) img {
	width: 4em; 
}

/*tekst header laten verdwijnen*/
header > nav > ul > li > a > div {
	display: none;
}
@media (min-width: 36em)  {
	header > nav > ul > li > a > div {
		display: block; 
	}
}

/*
============================
account
============================
*/

/*gehele form*/
main { 
	background-color: white;
	margin: 1.5em; 
	padding: 0 0 3em 0 ; 
	box-shadow: inset 0 -0.13em #C5C5CB;
}

/*form kolommen*/ 
main > section:first-of-type { 
	display: grid; 
	grid-template-columns: 1fr; 
}
@media (min-width: 64em) {
	main > section:first-of-type {
		display: grid; 
		grid-template-columns: 1fr 1fr; 
	}
}
@media (min-width: 64em) {
	main > section:nth-of-type(2) {
		grid-column-start: 2; 
		grid-column-end: 4; 
	}
}

/*form inloggen*/ 
main > section > form > fieldset {
	display: flex; 
	background-color: #FDC739; 
	border-style: none; 
	margin: 0 1em 1em 1em;
}
@media (min-width:36em) {
	main > section > form > fieldset {
		display: flex; 
		flex-direction: row; 
	}
}

/* text welkom bij verhalensite*/ 
h1 { 
	font-family: 'Open Sans', sans-serif;
	color: #053380; 
	text-align: center; 
	padding-top: 1.5em; 
}
 
main > section > form > fieldset > legend {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em; 
	padding-top: 3em; 
}

main > section > form > fieldset > label {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em; 
	margin: 0.6em 0 0.4em 0; 
}

main > section > form > fieldset > input {
	height: 2.8em; 
	width: 30em; 
	padding: 0.6em 0.9em 0.6em 0.9em;
	border-style: none; 
	line-height: 1.5em;
}

main > section > form > fieldset > button {
	margin-top: 1em;
	padding: 0.61em 1.1em;
	border: none; 
	background-color: #DD8D2F;
	font-family: 'Open Sans', sans-serif; 
	font-size: 1em; 
	color: white;
	border-radius: 0.3em; 
	box-shadow: inset 0 -0.1em darkblue;
}

main > section > form > fieldset > button:first-of-type {
	background-color: transparent; 
	border-bottom: 1px solid;
	font-size: 1em;
	color: darkblue;
	margin: 0.8em 0;
	padding: 0; 
	border-radius: 0; 
	box-shadow: none; 
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100; 
	font-size: 1em; 
	margin-left: 2em; 
}

section > ul > li {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 300; 
	/*list-style-image: url(img/vinkje5-01.svg);*/
	list-style-type: none; 
	background-image: url(img/vinkje4-01-01.svg); /*https://stackoverflow.com/questions/7775594/css-list-style-image-size ik heb het geprobeerd met list-style-image, maar die werd te klein */
	background-position: left; 
	background-repeat: no-repeat;
	height: 0.9em;  
	padding: 0.3em 0 0.3em 2.5em; 
	
}

main > section > section > a {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 300;
	margin-left: 1em; 	
} 