body {
	margin: 0; 
	box-sizing: border-box;
	background-color: #E6E6E9;
}

h1 {
	font-family: sans-serif; 
}

p{
	font-family: sans-serif; 
	font-size: 3em; 
}
p:nth-of-type(2) {
	font-family: 'Frijole', cursive;
}

p:first-of-type {
	color: transparent;
	text-shadow: -0.25em 0.25em rgba(179,179,179,.4),
		         -0.19em 0.19em rgba(153,153,153,.2), 
		         -0.12em 0.12em rgba(179,179,179,.2), 
		         -0.06em 0.06em rgba(179,179,179,.2), 
		         0em 0em rgba(128,128,128,.5), 
		         0.06em -0.06em rgba(77,77,77,.6), 
		         0.12em -0.12em rgba(77,77,77,.7), 
		         0.19em -0.19em rgba(82,82,82,.8), 
		         0.25em -0.25em rgba(77,77,77,.9), 
		         0.31em -0.31em rgba(77,77,77,1);
}

.we {
	text-shadow: 0 0 0.2em #6E6E6E;
	color: transparent;
	transition: 2s ease-in-out; 
	text-shadow: -0.25em 0.25em rgba(82,82,82,.8),
		         -0.19em 0.19em rgba(82,82,82,.8), 
		         -0.12em 0.12em rgba(82,82,82,.8), 
		         -0.06em 0.06em rgba(82,82,82,.8), 
		         0em 0em rgba(82,82,82,.8), 
		         0.06em -0.06em rgba(82,82,82,.8), 
		         0.12em -0.12em rgba(82,82,82,.8), 
		         0.19em -0.19em rgba(82,82,82,.8), 
		         0.25em -0.25em rgba(82,82,82,.8), 
		         0.31em -0.31em rgba(82,82,82,.8);
}
.we:hover {
	color: black; 
	text-shadow: none; 
	transition: 2s ease-in-out; 
}

.zijn {
	text-shadow: 0 0 0.2em #484848 ;
	color: transparent;
	transition: 2s ease-in-out; 
}
.zijn:hover {
	transition: 2s ease-in-out; 
	color: black; 
	text-shadow: none; 
}

.bij {
	text-shadow: 0 0 0.2em #353535;
	color: transparent; 
	transition: 2s ease-in-out; 
}
.bij:hover {
	transition: 2s ease-in-out; 
	color: black; 
	text-shadow: none; 
}

.de {
	text-shadow: 0 0 0.15em #222222;
	color: transparent;
	transition: 2s ease-in-out; 
}
.de:hover {
	transition: 2s ease-in-out; 
	color: black; 
	text-shadow: none; 
}

.eindhalte {
	text-shadow: 0 0 0.1em black;
	color: transparent;
	transition: 2s ease-in-out; 
}
.eindhalte:hover {
	transition: 2s ease-in-out; 
	color: black; 
	text-shadow: none; 
}

.Centraal {
	text-shadow: 0 0 0.15em #222222;
	color: transparent;
	transition: 2s ease-in-out; 
}
.Centraal:hover {
	transition: 2s ease-in-out;
	color: black; 
	text-shadow: none; 
}

.Station {
	text-shadow: 0 0 0.2em #353535;
	color: transparent; 
	transition: 2s ease-in-out; 
}
.Station:hover {
	transition: 2s ease-in-out; 
}



/*
.we {
	text-shadow: 0 0 0.2em #6E6E6E;
	color: transparent;
	transition: 2s ease-in-out; 
}
.we:hover {
	color: black; 
	text-shadow: none; 
	transition: 2s ease-in-out; 
}

.zijn {
	text-shadow: 0 0 0.2em #484848 ;
	color: transparent;
	transition: 2s ease-in-out; 
}
.zijn:hover {
	transition: 2s ease-in-out; 
	color: black; 
	text-shadow: none; 
}

.bij {
	text-shadow: 0 0 0.2em #353535;
	color: transparent; 
	transition: 2s ease-in-out; 
}
.bij:hover {
	transition: 2s ease-in-out; 
	color: black; 
	text-shadow: none; 
}

.de {
	text-shadow: 0 0 0.15em #222222;
	color: transparent;
	transition: 2s ease-in-out; 
}
.de:hover {
	transition: 2s ease-in-out; 
	color: black; 
	text-shadow: none; 
}

.eindhalte {
	text-shadow: 0 0 0.1em black;
	color: transparent;
	transition: 2s ease-in-out; 
}
.eindhalte:hover {
	transition: 2s ease-in-out; 
	color: black; 
	text-shadow: none; 
}

.Centraal {
	text-shadow: 0 0 0.15em #222222;
	color: transparent;
	transition: 2s ease-in-out; 
}
.Centraal:hover {
	transition: 2s ease-in-out;
	color: black; 
	text-shadow: none; 
	
}

.Station {
	text-shadow: 0 0 0.2em #353535;
	color: transparent; 
	transition: 2s ease-in-out; 
}
.Station:hover {
	transition: 2s ease-in-out; 
	
}
*/
