body {
	margin: 0; 
	box-sizing: border-box;
	background-color: #E6E6E9;
}

/*
============================
Header
============================
*/

/*NAV BALK*/
header > nav {
	background-color: #ffffff; 
	margin: 0; 
	height: 3.75em; 
	width: 100%; 
	position: fixed; 
	top: 0;
}

/*ELEMENTEN IN DE NAVIGATIEBLAK*/
header > nav > ul {
	display: flex;
	align-items: center; /* li items in het midden */
	padding: 0;
}

header > nav > ul > li {
	list-style-type: none; /* geen bolletje voor li items */
}

/*ELEMENTEN LOS*/
header > nav > ul > li > a {
	text-decoration: none; /* geen link onder text */
	display: flex; 	/* text in een rij met afbeelding */ 
	align-items: center; /* in het midden zetten */ 
	font-family: 'Open Sans', sans-serif; 
	font-size: 0.93em; 
	text-decoration: none;
	color: #053380;  
}

header > nav > ul > li > a:hover {
	color: #0063D3;
}

header > nav > ul > li > a:focus {
	color: #0063D3;
	padding-right: 0.2em; 
}

header > nav > ul > li > a:active {
	color: #094e9e;
}

header > nav > ul > li:first-of-type a:focus {
	padding-left: 0.1em; 
}
	
header > nav > ul > li:first-of-type {
	padding-left: 1.3em;
	margin-right: auto; /* opschuiven naar de andere kant */
}

header > nav > ul > li:first-of-type:hover {
	padding-left: 1.2em; 
}

header > nav > ul > li:nth-of-type(2):hover{
	margin-right: 0.1em; 
}

header > nav > ul > li:nth-of-type(3) {
	margin-left: 0.5em; 
	padding-right: 1.3em;
}
header > nav > ul > li:nth-of-type(3):hover {
	padding-right: 1.4em; 
	margin-left: 0.4em;
}

header > nav > ul > li > a > img {
	width: 2em;
}

header li:first-of-type img {
	width: 3.2em; 
	padding-right: 0.5em; 
}

/*TEXT HEADER RESPONSIVE*/
header > nav > ul > li > a > div {
	display: none;
}
@media (min-width: 36em)  {
	header > nav > ul > li > a > div {
		display: block; 
	}
}
